/*
*{ border:.5px solid coral;
}
*/

body {
    background-color: #bec4cf;
    margin-left: auto;
    margin-right:auto;
    background-image:url(background.svg);
    background-size: 100%;       
    background-repeat: no-repeat;
    background-position: center center;       
}

.container{
    margin-left: auto;
    margin-right: auto;
    font-family: "neue-kabel",sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 800px;
    color:#fff;

}

.analysis {
    position: absolute;
    z-index:20;
    top: 76px;
    left: 25px;
}

.letter-container{
    display:flex;
    justify-content: end;
    align-items: flex-end;
    height:580px;
    width:400px;
    margin:auto;
    position: relative;
}
   
.letter-container h1{
    margin:0px;
    font-family: "neue-kabel",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 675px;
    text-align: center;
    margin-top:-275px;
    width: 325px;
}

#button {
    background-color:white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin:0px;
    z-index:30;
}

.header{
    display:flex;
    justify-content: end;
    align-items:flex-end;
    width:800px;
/*    margin:auto;*/
}

.header h2{
    font-size: 25px;
    display: flex;
    height: 35px;
    background-color: #bec4cf;
    margin-top:5px;
    margin-bottom:0px;
}
    
.type{ 
    text-align: right;
    width: 125px;
/*    margin-left:auto;*/
/*    margin-right: 10px;*/
    margin-left:250px;
    margin-right:10px;
}

.style{
    text-align: left;
    width: 80px;
/*    margin-right: auto;*/
/*    margin-left: 10px;*/
    margin-right:30px;
    margin-left:10px;
}

.sample-set-all{
    background-color: #bec4cf;
/*    width:425px;*/
/*    margin:auto;*/
    width: 400px;
    margin-left: 185px;
    margin-right: 215px;
    text-align: center;
}

.sample-set-numbers{
    background-color: #bec4cf;
    width: 300px;
    margin-left: 225px;
    margin-right: 275px;
    text-align: center;
}

.info-section {
    width: 700px;
    height: 180px;
    margin: auto;
    background-color: #bec4cf;
    
}

.info-section p{
    font-weight:200;
    font-size:20px;
    height:175px;
    background-color: #bec4cf;
}

.sources-and-image{
    display:flex;
    justify-content: end;
    align-items: flex-end;
}

.photo-title{
    width:400px;
    height:200px;
    display:flex;
    justify-content: end;
    
}

.photo-title img {
    width:100px;
    height:100px;
    align-items: center;
    margin: 10px;

}
.text{
/*    border: 1px solid #fff;*/
    margin: 0px;
}
.photo-title h3{*/
    font-size:20px;
    background-color: #bec4cf;
    width: 200px;
    height: 30px;
    flex-direction: column;
    margin-top: 20px; 
    margin-bottom:0px;
    
}

.photo-title h4{*/
    font-size: 20px;
    background-color: #bec4cf;
    height: 30px;
    flex-direction: column;
    margin: 0px;
}
    
.sources{
    width:400px;
    height:200px;
}

.sources h3{
    width:400px;
    height:30px; 
    margin-top:20px;
    margin-bottom: 0px;
    font-size:20px;
}

.sources p{
    width:350px; 
    height: 60px;
    margin:0px;
    font-weight: 300;
    background-color: #bec4cf;
}

    
font-family: "neue-kabel",sans-serif;
font-style: normal;
font-weight: 100;